version: '3.8'

services:
  # db:
  #   image: postgres:15
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data
  #   environment:
  #     - POSTGRES_DB=xf
  #     - POSTGRES_USER=postgres
  #     - POSTGRES_PASSWORD=postgres
  #   restart: always

  backend:
    build: 
      context: .
      dockerfile: Dockerfile
    command: sh -c "python manage.py collectstatic --noinput && python manage.py migrate && gunicorn clashflow.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    environment:
      - DJANGO_DEBUG=False
      - DJANGO_SECRET_KEY=change_this_secret_key_in_production
      - DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1] backend 62.234.128.72
      - DB_ENGINE=django.db.backends.postgresql
      - DB_NAME=xf
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_HOST=62.234.128.72
      - DB_PORT=5432
    # depends_on:
    #   - db
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    volumes:
      - static_volume:/app/staticfiles
    depends_on:
      - backend
    restart: always

volumes:
  postgres_data:
  static_volume:
